
.forgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 450px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 75px;
    border: 2px solid black;
}

.forgot * {
    padding: 5px;
}

.forgot-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.forgot-header div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.forgot-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.forgot-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

