
<footer class="bg-body-tertiary text-center bg-light text-lg-start mt-4">
    <div class="container p-4 pb-0">
        <form action="">
            <div class="row justify-content-center">
                <div class="col-auto mb-4 mb-md-0">
                    <p class="pt-2">
                        <strong>Sign up for our newsletter</strong>
                    </p>
                </div>
                <div class="col-md-5 col-12 mb-4 mb-md-0">
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="form5Example22" class="form-control" />
                        <label class="form-label" for="form5Example22">Email address</label>
                    </div>
                </div>
                <div class="col-auto mb-4 mb-md-0">
                    <button data-mdb-ripple-init type="button" class="btn btn-dark mb-4">
                        Subscribe
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright: The Book Collect
    </div>
</footer>


@code {

}